/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Scheherazade+New&family=Noto+Naskh+Arabic&family=Lateef&family=Cairo&family=Gentium+Plus&family=Roboto&display=swap');

/* Import typography styles */
@import './typography.css';

/* Center page title */
.docTitle,
.docItemContainer h1 {
  text-align: center;
}
